<% include ../partials/header %>


<div class="container">
    
         <header class="jumbotron" style="margin-top: 5%;">
             <div class="container">
                <h1>Welcome to the YelpCamp</h1>
                <p>View our some of the list of campgrounds selected from all around the world</p>
                <p> 
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campgrounds</a>
                </p>
             </div>
        </header>

        <div class="row"  id="first" >
             <% campgrounds.forEach(function(ground){ %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <image class="second" src="<%= ground.image %>">
                            <div class="caption">
                                 <h4><%= ground.name %></h4>
                            </div>
                            <a href="/campgrounds/<%= ground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
        
             <% }); %>
        </div>

</div>

<% include ../partials/footer %>